body{
    background-color: #141414;
}
.btn-custom-round {
    padding: 5px 9px !important;
  }

.opacity-50 {
    opacity: 0.5;
  }

  .movie-list {
    overflow-x: scroll;
    list-style: none;
    white-space: nowrap;
    padding: 20px 0;
    display: block;
    overflow: auto;
    border: 1px solid transparent;
  }
  
  .movie-list::-webkit-scrollbar {
    display: none;
  }
  
  .movie {
    display: inline-block;
    width: 250px;
    margin-right: 10px;
    border-radius: 3px;
    overflow: hidden;
    transition: 0.3s;
    overflow: auto;
    border: 1px solid transparent;
  }
  
  .movie:first-child {
    margin-left: 85px;
  }
  
  .movie-info {
    background-color: #171717;
    padding: 10px;
    width: 100%;
    transform: scale(0);
    transition: 0.2s;
  }
  
  .movie:hover {
    cursor: pointer;
    transform: scale(1.2);
    z-index: 999;
  }
  
  .movie:hover .movie-info {
    transform: scale(1);
  }
  
  .movie-info .col-12 {
    margin-top: 5px;
    padding: 0;
  }
  
  .movie-info .col-12:first-child {
    margin-bottom: 20px;
  }
  
  .movie-info p {
    color: #7e7b7b;
    font-size: 12px;
  }
  
  .movie-info p font {
    color: #fff;
  }
  
  section {
    margin-bottom: -100px;
    position: relative;
  }
  
  section:hover {
    z-index: 9;
  }
  
  .card-flex {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #fff;
  }
  
  .percent {
    color: #02ac02;
  }
  
  .card-flex .card-box {
    background: #e50914;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px 5px 2px 3px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 3px;
  }
  
  .card-flex .card-box font {
    font-size: 12px;
    color: #fff;
    font-weight: 700;
  }
  
  .card-flex .hd {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ececec;
    font-size: 10px;
    border: 1px solid #dfdfdf;
    border-radius: 3px;
    padding: 1px 3px 0 4px;
    font-weight: 700;
    margin-left: 5px;
  }
  
  .card-flex .tags {
    display: flex;
    white-space: normal;
    align-items: center;
    justify-content: center;
  }
  
  .point {
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: #dfdfdf;
    margin: 5px;
  }
  

  